{
	"plugins": [
		[
			"transform-class-properties",
			{
				"useBuiltIns": true
			}
		],
		[
			"transform-object-rest-spread",
			{
				"useBuiltIns": true
			}
		],
		[
			"transform-runtime",
			{
				"helpers": true,
				"polyfill": false,
				"regenerator": false,
				"moduleName": "babel-runtime"
			}
		],
		"syntax-dynamic-import"
	],
	"presets": [
		[
			"env",
			{
				"loose": true,
				"useBuiltIns": true,
				"targets": {
					"browsers": ["last 2 versions"]
				}
			}
		],
		"react"
	],
	"env": {
		"production": {
			"plugins": [
				"transform-react-remove-prop-types",
				"transform-react-inline-elements",
				"transform-react-constant-elements"
			]
		}
	}
}
